/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
body {
  /* Location of the image */
  background-image: url(images/privacyHub_splash2.jpg);
  
  z-index: -1;

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;  
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/privacyHub_splash_bg.jpg);
  }
}

/*
.navbar-header .navbar-fixed-top {
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  padding: 0px 0px;
}
*/

.jumbotron {
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: large;
}

#signin {
  font-size: small;
  color: black;

}

iframe {
  background-color: white;
  color: black;
}

.summary {
  color: aqua;
  font-style: bold;
  background-color: #464646;
  opacity: 1.0;
}

